<app-menu></app-menu>

<ul class="nav nav-tabs ">
    <li class="nav-item">
        <button class="nav-link active" [ngClass]="{ active: menuScelto === sceltaMenu.main }" (click)="selectMenu(sceltaMenu.main)" id="tab-main" data-bs-target="#tab-main" role="tab" aria-current="page" href="#">Active</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" [ngClass]="{ active: menuScelto === sceltaMenu.season }" (click)="selectMenu(sceltaMenu.season)" id="tab-season" data-bs-target="#tab-season" role="tab" href="#">Link</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" [ngClass]="{ active: menuScelto === sceltaMenu.main }" role="tabpanel" id="tab-main">
        <p *ngIf="singleTV?.name">{{singleTV.name}}</p>
    </div>
    <div class="tab-pane fade show" [ngClass]="{ active: menuScelto === sceltaMenu.season }" role="tabpanel" id="tab-season">
        <p>ciaoooo</p>
    </div>
</div>