<app-menu ></app-menu>

<app-drink-card *ngFor="let movie of allTV" [drink]="movie"
></app-drink-card>
<!-- <button (click)="clearResults()">Cancella risultati</button> -->


<div class="container">
    <div class="row">
        <div class="col col-12 d-flex" *ngFor="let movie of allTV">
            <div class="col col-2">
                <img [routerLink]="['/detail', movie.show.id]" *ngIf="movie.show.image?.medium" class="img-fluid" [src]="movie.show.image.medium" alt="immagine">
            </div>
            <div class="col col-10">
                <h2><button [routerLink]="['/detail', movie.show.id]">{{movie.show.name}}</button></h2>
                <p *ngIf="movie.show.network?.name">{{movie.show.network.name}}</p>
                <!-- <p *ngIf="movie.show?.yearPremiered || movie.show?.yearEnded">{{movie.show.yearPremiered}} <span *ngIf="movie.show?.yearPremiered && movie.show?.yearEnded">-</span> {{movie.show.yearEnded}}</p> -->
            </div>
        </div>
    </div>
</div>